@font-face{
  font-family: "stardom";
  src:url('fonts/stardom.woff2') format('woff2');
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family:"zodiak-bold";
  src:url('fonts/Zodiak-Extrabold.woff') format('woff');
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family:"zodiak";
  src:url('fonts/Zodiak-Regular.woff2') format('woff2');
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family: "tanker";
  src:url('fonts/Tanker-Regular.woff2') format('woff2');
  font-style:normal;
  font-weight:bold;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
.centered{
  position: absolute;
  z-index:100;
  
  transform: translate(-50%, -50%);
}
.container{
  font-size:400;
  display:flex;
  justify-content:center;
  margin-top:30px;
  height:150px;
  position: relative;
  align-items: center;
}
#image{
  width:300px;
  height:300px;
  position:absolute;
}
 p{
  font-family:'stardom';
 }

 section{
   margin-bottom: 30em;
 }
 h1{
  font-family:"zodiak-bold"
 }
#nav{
   display: inline-block;
    margin-top:10px;
    font-family:"zodiak-bold";
    color:white;
    background-color:black;
    word-spacing:40px;
    border: none;
    float:right;
}
