@font-face{
  font-family: "stardom";
  src:url('fonts/stardom.woff2') format('woff2');
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family:"zodiak-bold";
  src:url('fonts/Zodiak-Extrabold.woff') format('woff');
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family:"zodiak";
  src:url('fonts/Zodiak-Regular.woff2') format('woff2');
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family: "tanker";
  src:url('fonts/Tanker-Regular.woff2') format('woff2');
  font-style:normal;
  font-weight:bold;
}
